<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul id="heading">
    <% if signed_in? %>
      <li class="heading-item">
        <%= link_to current_user.name, current_user, class:"heading-link" %>
      </li>
      <li class="heading-item">
        <%= link_to "Logout", logout_path, method: :delete, class: "heading-link" %>
      </li>
    <% else %>
      <li class="heading-item">
        <%= link_to "Login", login_path, class: "heading-link"%>
      </li>
    <% end %>
      <li class="heading-item">
        <%= link_to "All Events", events_path, class: "heading-link" %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
